/**
 * Styles for website project
 **/

* {
  box-sizing: border-box;
} 

body {
  position: relative;
}

#header1 {
  font-family: Georgia, Times, Times New Roman, serif;
  margin: auto;
  color: #4aaaa5;
  background: #ffffff;
  border-color: #cccccc;
  width: 960px;
  }

#header2 {
  font-family: Georgia, Times, Times New Roman, serif;
  margin: auto;
  color: #4aaaa5;
  background: #ffffff;
  border-color: #cccccc;
  width: 660px;
  }
  

#MyName {
  float: left;
  padding: 20px;
  color: white;
  font-size: 36px;
  background: #4aaaa5;
  text-align: center;
  }
  
  
.Frame {
  float: left;
  width: 100%;
  height: 460px;
  background-image: url("../images/white-waves.png");
  background-repeat: repeat;
  margin: auto
  }
  
.container1 {
  margin: 20px auto;
  width: 960px;
  background: #ffffff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0 20px 20px 20px;
  color: #777777;
  border: 1px solid #777777;
  }
  
.container2 {
  margin: 20px auto;
  width: 660px;
  background: #ffffff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0 20px 20px 20px;
  color: #777777;
  border: 1px solid #777777;
  }

h1 {
  font-family: Georgia, Times, Times New Roman, serif;
  color: #4aaaa5;
  padding: 20px 20px 20px 0;
  border-bottom: solid;
  border-bottom-color: #777777;
  }
  
#Main {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  float: right;
  text-align: center;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  color: #777777;
  }

.footer {
  position: relative;
  top: 580px;
  height: 60px;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  background: #666666;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #4aaaa5;
  }

#bio-pic {
  height: 15%;
  width: 15%;
  float: left;
  padding-right: 20px;
  }

#Games {
  font-family: Georgia, Times, Times New Roman, serif;
  padding: 20px;
  }

